.red {
    color: #9E0914;
}
.black {
    color: #031927;
}
.green {
    color: #8EA604;
}
.blue {
    color: #508AA8;
}
.yellow {
    color: #EC9F05;
}

.typography {
    font-family: arvo, serif;
    font-size: 14px;
    color: #031927;
}

/**
 * all
 */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.typography li,
.typography p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}



.typography > h1:first-child,
.typography > h2:first-child,
.typography > h3:first-child,
.typography > h4:first-child,
.typography > h5:first-child,
.typography > h6:first-child,
.typography > li:first-child,
.typography > ul:first-child,
.typography article > h1:first-child,
.typography article > h2:first-child,
.typography article > h3:first-child,
.typography article > h4:first-child,
.typography article > h5:first-child,
.typography article > h6:first-child,
.typography article > li:first-child,
.typography article > ul:first-child,
.typography section > h1:first-child,
.typography section > h2:first-child,
.typography section > h3:first-child,
.typography section > h4:first-child,
.typography section > h5:first-child,
.typography section > h6:first-child,
.typography section > li:first-child,
.typography section > ul:first-child,
.typography div > h1:first-child,
.typography div > h2:first-child,
.typography div > h3:first-child,
.typography div > h4:first-child,
.typography div > h5:first-child,
.typography div > h6:first-child,
.typography div > li:first-child,
.typography div > ul:first-child {
    padding-top: 0!important;
    margin-top: 0!important;
}

/**
 * headings
 */
.typography h1,
.typography h2 {
    font-family: Montserrat;
    /*font-family: 'Patrick Hand SC', cursive;*/
    font-size: 36px;
    padding-top: 1.7em;
    padding-bottom: 0.7em;
    line-height: 0.8;
    text-transform: lowercase;;
    color: #9e0914;
    font-weight: 700;
}

.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    /*font-family: 'Roboto Mono', monospace;*/
    font-family: 'Walter Turncoat', cursive;
    color: #000;
    padding-top: 1.5em;
    font-size: 1.3em;
}


/**
 * lists and paragraphs
 */
.typography li,
.typography p {
    line-height: 1.5;
}

.typography ol {
    padding: 2em;
}
.typography li ol {
    padding: 1em;
}
.typography ol li {
    list-style-type: decimal;
}
.typography li ol li {
    list-style-type:lower-alpha;
}
.typography li li ol li {
    margin-left: 5em;
    list-style-type: decimal-leading-zero;
}
.typography li li li ol li {
    list-style-type:upper-roman;
}
.typography strong,
.typography b,
 .typography em,
 .typography i,
 .typography u {
    color: #000!important;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.typography strong,
.typography b {
    color: #EC9F05!important;
}


.typography u {
    color: #508AA8!important;
}

.typography em,
 .typography i,
 .typography u {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: #EC9F05;
}

.typography a {
    color: #9e0914;
}

.typography li {
    list-style: disc;
    list-style-position: outside;
    margin-left: 1em;
}

.typography img {
    max-width: calc(100% - 22px);
    border: 1px solid #ccc;
    display: block;
    margin: 1em 0;
    padding: 10px;
    width: 50%;
}




/**
 * Tables
 */



 /* tables */
.typography table {
    margin: 1em 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.typography th,
 .typography td {
    padding: 0.7em;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    background-color: #f2f2f2;
    font-size: 12px!important;
    vertical-align: top;
}

.typography table th[scope='col'] {
    vertical-align: bottom;
    font-weight: bold;
    color: #fff;
    background-color: #9e0914
}

.typography table th[scope='row'] {
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}

.typography table th a {
    color: #fff;
}

.typography table td {
    vertical-align: top;
}

.typography table td p,
 .typography table td li {
    margin: 0px;
    padding: 0px;
}

.typography table td ol,
.typography table td ul {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.typography td li {
    font-size: 0.9em;
    list-style-position: inside;
    list-style-type: square;
    list-style-image: none;
}

.typography table ul {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
}

 /**
  * address and pre
  */



.typography blockquote p {
    font-size: 1em;
}

.typography address {
    font-style: normal;
    margin-left: 3em;
    font-family: 'Roboto Mono', monospace;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #000;
    font-size: 12px;
}

.typography pre {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.7;
    font-size: 0.7em;
    padding: 0.7em;
    margin: 0.9em 0;
    color: #000;
    background-color: #f2f2f2;
      /* gradient */
    background-position: 0px center;
    background-repeat: no-repeat;
    border-top: 2px solid #808383;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    padding-left: 3em;
    text-indent: -2em!important;
    display: block;
}


/**
 * media
 */
 div.media {
     padding: 2em 0;
     background-color: #f2f2f2;
     margin: 1em 0;
 }

 div.media iframe {
     margin-left: auto!important;
     margin-right: auto!important;
     display: block;
     max-width: 100%!important;
 }
