
.userform .left   {
    margin-bottom: 0px!important;
}
@media (min-width: 990px) {

}


.icon {
    height: 1.2em;
    width: 1.2em;
    vertical-align: text-top;
    display: inline-block;
    line-height: 1;
}
